<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>recaptcha3</name>
	<displayName><![CDATA[Recaptcha3]]></displayName>
	<version><![CDATA[1.7.7]]></version>
	<description><![CDATA[Recaptcha3 uses Google recaptcha v3]]></description>
	<author><![CDATA[Vallka]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
